<app-navbar></app-navbar>

<div class="jumbotron text-center">
  <h1>Sistema de estoque</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing eli.</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
    <a class="btn btn-primary" [routerLink]="['/register']">Login</a>
  </div>
</div>

<div class="row">
    <div class="col-md-4">
      <h3>Lorem ipsum dolor</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quos fugiat eius debitis itaque harum</p>
    </div>
    <div class="col-md-4">
        <h3>Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quos fugiat eius debitis itaque harum</p>
    </div>
    <div class="col-md-4">
        <h3>Lorem ipsum dolor</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quos fugiat eius debitis itaque harum</p>
    </div>
</div>
